.white-bg{
    -fx-background-color: #ffffff;
    -fx-background-radius: 6px;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.5),8,0,0,0);
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-background-radius: 6px;
    -fx-border-color: linear-gradient(to top right, #0090ff, #0b00a6);
    -fx-border-radius: 4px;
    -fx-border-width: 1px; /* Thêm dòng này để đảm bảo border hiện */
    -fx-font-family: "Tahoma";
    -fx-padding: 6 10;
}



.textfiled:hover{
-fx-background-color: #fff;
}




.rounded-input {
    -fx-background-color: white;
    -fx-border-color: #c0c0c0;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 6 10 6 10;
    -fx-font-size: 14px;
}

.rounded-input:focused {
    -fx-border-color: #3f89f2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0.3, 0, 2);
}
